{%- doc -%}
  Simplified text renderer for heading blocks without metaobject functionality.

  @param {string} [class] - custom class to define in addition to text-block classes
  @param {string} [fallback_text] - fallback text if settings.text does not exist
  @param {object} [block] - The block object
  @param {string} [width] - width of the text block
{%- enddoc -%}

{% liquid
  assign block_settings = block.settings
  assign plain_text = block_settings.text | strip_newlines | strip_html | strip
  assign text_width = width | default: block_settings.width

  if block_settings.font_size contains 'heading-lg' or block_settings.font_size contains 'heading-xl'
    assign type = 'display'
  elsif block_settings.font_size contains 'heading'
    assign type = 'heading'
  else
    assign type = 'body'
  endif
  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: block_settings.alignment
      if block_settings.max_width == 'none'
        echo ' text-block--full-width '
      endif
    endif
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if block_settings.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="{{ class }} spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "

  style="
    {% render 'spacing-padding', settings: block_settings %}
    {% render 'typography-style', settings: block_settings %}
    --width: {{ text_width }};
    --max-width: var(--max-width--{{ type }}-{{ block_settings.max_width }});
    {% if text_width == "100%" %}
      --text-align: {{ block_settings.alignment }};
    {% endif %}
    {% if block_settings.background %}
      --text-background-color: {{ block_settings.background_color | default: 'rgb(255 255 255 / 1.0)' }};
      --text-corner-radius: {{ block_settings.corner_radius }}px;
      --text-padding: max(var(--padding-2xs), calc((var(--text-corner-radius) + var(--padding-xs)) * (1 - cos(45deg))));
    {% endif %}
  "

  {{ block.shopify_attributes }}
{% endcapture %}
{% liquid
  # {{ attributes }} must be on the immediate HTML parent of the text to preserve
  # the click-to-edit connection in the theme editor. Any break between the text,
  # including if-statements, will break the connection.

  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif
%}

{% if fallback_text != blank and plain_text == blank %}
  <div {{ attributes }}>
    {{ fallback_text }}
  </div>
{% elsif plain_text != blank %}
  <{{ element }} {{ attributes }}>
    {{ block.settings.text }}
  </{{ element }}>
{% endif %}

{% stylesheet %}
  :root {
    --text-align-default: left;
  }

  [style*='--horizontal-alignment: center'] .text-block {
    --text-align-default: center;
  }

  .text-block {
    --text-align: var(--text-align-default);
    text-align: var(--text-align);
    max-width: var(--max-width, none);
    width: var(--width, fit-content);
  }

  .text-block--align-center {
    margin-left: auto;
    margin-right: auto;
  }

  .text-block--align-right {
    margin-left: auto;
  }

  .text-block--background {
    background-color: var(--text-background-color);
    padding: var(--text-padding);
    border-radius: var(--text-corner-radius);
  }

  .custom-typography {
    font-family: var(--custom-font-family, inherit);
    font-size: var(--custom-font-size, inherit);
    font-weight: var(--custom-font-weight, inherit);
    line-height: var(--custom-line-height, inherit);
    letter-spacing: var(--custom-letter-spacing, inherit);
    text-transform: var(--custom-text-transform, inherit);
    text-wrap: var(--custom-text-wrap, inherit);
    color: var(--custom-color, inherit);
  }
{% endstylesheet %}